<div class="credits"><p>Application développé par :</p>
    <a href="https://www.linkedin.com/in/robinpalmier/" target="_blank">Robin Palmier</a> - <a href="https://www.linkedin.com/in/guillaume-depretz-b372a395/" target="_blank">Guillaume Depretz</a> - <a href="https://www.linkedin.com/in/mueenu-hossain/" target="_blank">Mueen Hossain</a>
</div>
    <script src="../public/assets/js/app.js"></script>
    </body>
</html>