<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/img/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Ubuntu:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/assets/css/style.css">
        <title>Calcul de volumes et de surfaces</title>
    </head>
    <body>
        <a href="/"><img src="../public/assets/img/logo.svg" alt="Logo Cube calcul de volumes et de surfaces"></a>
        <h1>Calcul de volumes et de surfaces</h1>